*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: rgb(1, 1, 1);
}           

.header{
    background-color: rgb(28, 21, 87);
    margin: 20px 20px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.header:hover{
    background-color: rgb(35, 27, 109);;
}

#logo{
    width: 100px;
}
 
#campo-busca{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
}

#botao-busca{
    text-align: center;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;    
    font-weight:bold;
    font-size: 14px;
    cursor: pointer;
}

#botao-busca:hover{
    background-color: gray;
    color: white;
}